src/main/resources/xml/xsd/FlightList.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="Flight.xsd"/>
    <xs:element name="flightList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="flights">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name ="flight" type="flight" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>